<!DOCTYPE html>
<html>
<head>
	{% block css  %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">	    
	<meta charset="UTF-8"/>	
	<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
	<link href="{{ asset('css/style.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	{% endblock %}
	{% block javascripts  %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>


	<!-- Additional files for the Highslide popup effect -->
	<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
	<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
	<script src="{{ asset('js/datepicker.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

	
	{% endblock %}
	<meta charset="UTF-8">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
</head>
<body>	
	{% block header %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {# <a class="navbar-brand" href="#">Navbar</a> #}
  <img src="{{ asset('img/img_cidadejunior.png') }}" width="131" height="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-left" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Página Principal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Configurações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sair</a>
      </li>
    </ul>    
  </div>
</nav>
		{% endblock %}
		{% block body %}{% endblock %}

		{% block footer %}
		<!-- Footer -->
		<div class="page-footer font-small blue pt-4" style="background-color: #4d613e">

			<!-- Footer Links -->
			<div class="container-fluid text-center text-md-left">

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col text-center">

						<!-- Content -->
						<h5 class="text-uppercase">Instituto Cidade Júnior</h5>
						<p>Dashboard desenvolvido para a ONG.</p>

					</div>
					<!-- Grid column -->

					<hr class="clearfix w-100 d-md-none pb-3">

					<!-- Grid column -->
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col text-center">

						<!-- Links -->
						<h5 class="text-uppercase">Autores</h5>

						<ul class="list-unstyled">
							<li>
								<a href="#!">Allan Kotovei</a>
							</li>
							<li>
								<a href="#!">Juliano Luiz da Silva</a>
							</li>
							<li>
								<a href="#!">Suhelen Oliveira</a>
							</li>              
						</ul>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2019 Copyright:
				<a href="https://github.com/julianosilva23/produtos-servicos-informacao"> Projeto Informacional - Equipe10</a>
			</div>
			<!-- Copyright -->

		</div>
		<!-- Footer -->
		{% endblock %}
</body>
</html>
